<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">log out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">sign up</a></li>
            <li><a href="{% url 'login' %}">log in</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<body>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>
                <th>Vendor</th>
                <th>Total</th>
                <th>Tax</th>
                <th>Date</th>
                <th>Category</th>
                <th>Account</th>
            </thead>
            <tbody>
                {% for item in rec_gal_veiw %}
                <tr>
                    <td>{{ item.vendor }}</td>
                    <td>{{ item.total }}</td>
                    <td>{{ item.tax }}</td>
                    <td>{{ item.date|date:"m/d/y" }}</td>
                    <td>{{ item.category.name }}</td>
                    <td>{{ item.account.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
